.caixa {
  width: 100px;
  padding: 10px;
  border: 2px solid rgb(229, 110, 110);
}

.caixa2 {
  box-sizing: border-box; /* A MÁGICA! */
  width: 100px;
  padding: 10px;
  border: 1px solid rgb(235, 126, 126);
}

/* .container {
  width: 80%;
  margin: 0 auto; /* 0 topo/baixo, auto laterais */
  /* border: 1px solid rgb(193, 68, 68);
  padding: 38px;
} */
 
/*Detalhando margin (Margem)*/ 
/* .container {
width: 80%;
margin: 0 auto; /* 0 topo/baixo, auto laterais */
/* border: 1px solid rgb(235, 126, 126) 
}  */ 

/*Detalhando border e padding*/
.container {
width: 50%;
margin: 20px 30px 40px;
border: 1px solid rgb(228, 83, 83);
padding: 5px;
}



