/* Estilo base para todas as caixas */
.caixa {
width: 200px;
height: 100px;
padding: 10px;
border: 3px solid #333;
margin: 10px;
}

/* Dando cores para identificar */
#caixa1 { background-color: #e67e22; }
#caixa2 { background-color: #2ecc71; }
#caixa3 { background-color: #3498db; }
#caixa4 { background-color: #9b59b6; }

/* Reset universal do Box Model */
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
font-family: sans-serif;
padding-top: 20px; /* Espaço para ver os exemplos */
}

/* Container para os exemplos */
.container {
border: 2px dashed #ccc;
padding: 10px;
margin-bottom: 20px;
}

/* position relative- olha pelo centro do objeto */
#caixa2 {
position: relative;
top: 50px; /* Desce 30px */
left: 5px; /* Vai 50px para a direita */
/* O espaço original da Caixa 2
(verde) ainda está lá,
mas a caixa 3 (azul) vai se
sobrepor a ela! */
z-index: 10;
}

/* Position absolute */
#caixa3 {
position: absolute;
top: 120px; /* 5px do topo do .container
*/
left: 5px; /* 5px da direita do
.container */
width: 100px; /* Reduzimos para
caber */
z-index: 5;
}

#caixa4 {
position: fixed;
bottom: 10px; /* 10px do final da janela */
right: 10px; /* 10px da direita da janela */
width: 250px;
/* Esta caixa vai ficar no canto da tela mesmo se você rolar a página */
}

.avatar-flutuante {
float: left;
width: 300px;
margin-right: 15px; /* Espaço entre a
imagem e o texto */
}

